<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="boxes">
            <%albumsData.forEach(elt=>{%>
            <article> <% if (elt.images.length!=0) { %>
                <img src="<%=elt.images[0].url%>" alt=“”>
                <% } %>
                <div>
                    <h1><%=elt.name%> </h1>
                    <a class="btn" href=“/tracks/<%=elt.id%>“>View Tracks</a>
                </div>
            </article>
            <%})%>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>