<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main">
        <section id="player">
            <% tracksData.forEach(element => { %>
            <div>
                <h3><%= element.name %> </h3>
                <audio controls src="<%= element.preview_url %> "></audio>
            </div>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>